/**
*  @author ctola
*/

header,
main,
footer {
    padding-left: 240px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

#lista-compras td,
#lista-compras th {
    text-align: center;
}

.comprado-true {
    text-decoration: line-through;
    color: red;
}

.page-header {
    padding-bottom: 50px;
}